<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject_weather_clock"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  Permission required to Waking Lock if device screen is off  -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".getcontext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity"></activity>

        <!--  Declare  Alarm Broadcast receiver here  -->
        <receiver android:name=".AlarmReceiver" />

        <!--  Declare  Alarm Notification Service here  -->
        <service android:name=".AlarmNotificationService" />

        <!--  Declare  Alarm Sound Service here  -->
        <service android:name=".AlarmSoundService" />
    </application>


</manifest>